.master-products{
  width: 100%;
  height: auto;
  background-color: rgb(14, 12, 31);
  overflow: hidden;
 
  
}
.Products-content{
  background-color: rgb(0, 0, 0);
  padding-top: 120px;
  
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  
  
}


.text-card{
   text-align: center;
   font-size: 15px;
  font-weight: bold;
  margin-right: 5px;

}
.text-cards{
  margin-left: 30%;
  padding-top: 10px;
  font-weight: bold;
  

}
.imgl{
  border-radius: 5px;
  width: 200px;
  height: auto;
}

.contend-card{
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  
  width: auto;
  height: auto;
  background-color: rgb(251, 251, 251);
  border-radius: 5%;
  
  
  
  
}

.contend-card:hover{
  border: none;
  
  transform: scale3d(1.1,1.1,1) ;
  
  
  
}
.divone{
  margin-left: 25px;
  width: 200px;
  height: auto;
  
}
.divtwo{
  
  
  width: 250px;
  height: auto;
  
  
}
.divtres{
  background-color:black ;
  margin-left: 25px;
  width: 200px;
  height: 40px;
  margin-top: 7%;
  border-radius: 10px 10px 0px 0px;
}
#divtres{
  color:rgb(7, 201, 137) ;
  font-size: 15px;
  border-bottom: 2px solid #624eff;

}
.add{
  padding-top: 3px;
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  height: auto;
  background-color: black;
  color: rgb(32, 215, 108);
  position:relative;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
  
}
#df{
  
  font-size: 25px;
  font-weight: bold;
}
.txt{
  
  margin-left: 5px;
  width: 50px;
  height: 25px;
  
}
.ictx{
  margin-top: 1px;
  width: auto;
  height: auto;

}
#Config-table{

border-collapse: collapse;
margin: 25px 0;
margin-left: 10px;
font-size: 1.5em;
min-width: 280px;
border-radius: 5px 5px 0 0;
overflow: hidden;
}

@media  screen and (max-width:990px) {
  #Config-table{
    margin-left: 25%;
  }
}

#Config-table thead tr{
  background-color: #121217;
  text-align:left ;
  color: #e2f8e8;
  font-weight: bold;
  
}
#Config-table th,
#Config-table td {
  padding: 12px 15px;
  color: aliceblue;
}
#Config-table tbody tr{
  font-weight: bold;
  border-bottom: 1px solid #40f27e;
  
}
#Config-table tbody tr:nth-of-type(even){
  background-color: #15151a;
  
}
#tyJ p{
  color: aliceblue;
  font-size: 2px;
}
@media screen and (max-width:700px) {
  .contend-card{
    width: 200px;
    height: auto;
    overflow: hidden;
    margin-left: 0px;
    
  }
  .divone{
    width: 150px;
    
    margin-left: 27px;
  }
  .imgl{
    width: 150px;
  }
  .text-card{
    margin-right: 45px;
    font-size: 12px;
  }
  .divtres{
    margin-left: 12%;
    width: 150px;
    height: 30px;
    font-size: 12px;
  }

  
}